
.search_input {
    width: 60%;
    padding: 12px 24px;

    font-size: 14px;
    color: #000000;
    background-image: url("/images/search_icon.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #000000;
    backface-visibility: hidden;
    transition: all 250ms ease-in-out;
    transform-style: preserve-3d;
}
.search_input:hover, :focus {
     padding: 12px 12px;
     outline: 0;
     border: 1px solid transparent;
     border-bottom: 1px solid #000000;
     border-radius: 0;
     background-position: 99% center;
 }
.search_input::placeholder {
    color: #000000;
    text-transform: uppercase;
}

.search_box {
    width: 100%;
    text-align:center;
}
